@import '../../styles/main.scss';

.App {
  position: relative;
  height: 100vh;
}

// Logo component
.logo {
  display: flex;
  align-items: center;
  height: 80px;
  padding-left: 20px;

  > .title {
    color: #005796;
    text-transform: uppercase;
    display: none;
  }
}

.sidebar-left {
  position: relative;
  background: $bg-sidebar;

  > .menu {
    background: inherit;
    margin: 60px auto;
  }

  > .menu .item > a .icon { font-size: 20px; }

}

// Hide title if expanded
.sidebar-left.-expanded > .logo .title { display: block; }


.page-main {
  background-color: $bg-page;
  min-height: 100vh;

  > .header {
    margin-left: 20px;
  }
  
  > .content {
    background: $white;
    margin: 20px;
    padding: 20px;
  }

}

.test-buttons {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: max-content;
  background: yellow;
  padding: 5px;
}